body {
  font-family: calibri;
}
.box {
  margin-bottom: 10px;
}

.box label {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-right: 10px;
}

.box input,
.box textarea {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 7px 12 px;
}

#submit {
  margin-left: 90px;
}
